<p>This is a neat trick to create a slider for every cuisine in the array.</p>
<p>The sliders are also part of a reactive form, so you can submit the ratings all as one JSON object</p>
<input type="text" [(ngModel)]="newCuisine">

<p>New entries will appear at the bottom</p>
<button mat-raised-button (click)="addToCuisinesArray()">Add Cuisine/Slider</button>
<form [formGroup]="sliderForm" (ngSubmit)="submitSliderForm()">
    <mat-card style="text-align: center;">
        <mat-card-content style="text-align: center;">
            <div *ngFor="let cuisine of cuisines">
            <h2>{{cuisine}}</h2>
            <mat-slider
            style="display: inline-block;"
            class="col-lg-12"
            thumbLabel="true"
            tickInterval="1"
            max="10"
            formControlName="{{cuisine}}"></mat-slider>
            </div>
        </mat-card-content>
        <button style="display: inline-block;" class="col-lg-3" mat-raised-button color="primary">Submit</button>
    </mat-card>
    </form>