<nav>
  <a routerLink="/paramMap">Param Map</a>
  <a routerLink="/cuisines">Cuisines</a>
  <a routerLink="/sliders">Sliders</a>
  <a routerLink="/pokeHttp">Pokemon HTTPClient</a>
  <a routerLink="/alt-todo">Alternative Todo (No spring)</a>
  <a routerLink="/ng-switch">ng-switch</a>
  <a routerLink="/loginForm">Login Form</a>





</nav>
<router-outlet></router-outlet>

<!-- <h1>Pagination</h1>
<div class="card text-center m-3">
  <h3>Angular 8 Pagination example</h3>
  <div class="card-body">
    <div *ngFor="let item of pageOfItems">{{item.name}}</div>
  </div>
  <div class="card-footer pb-0 pt-3">
    <app-sj-pagination [items] (changePage)="onChangePage($event)"></app-sj-pagination>
  </div>
</div> -->